<nav class="navbar">
  <a class="logo" href="/">Synapse </a>
  <div class="search-container">
    <form style="padding: 10px" method="GET" action="{% url 'home' %}">
      <input class="search-bar" placeholder="Search..." />
    </form>
  </div>
  <div style="margin-right: 10px; margin-left: 25%">
    {% if request.user.is_authenticated %}
    <a href="{% url 'user-profile' request.user.id %}">
      <div class="profile-pic-container" style="    width: 70px;
    height: 70px;">
        <img src="{{request.user.avatar.url}}" alt="Profile Picture" />
      </div>
    </a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
  </div>
</nav>
