<nav class="navbar">
  <a class="logo" href="/">Synapse </a>
  <div class="search-container">
    <form style="padding: 10px" method="GET" action="{% url 'home' %}">
      <input class="search-bar" name="q" placeholder="Search..." />
    </form>
  </div>
  <div style="margin-right: 10px; margin-left: 25%">
    {% if request.user.is_authenticated %}
    <a href="{% url 'user-profile' request.user.id %}">
      <div class="profile-pic-container" style="    width: 70px;
    height: 70px;">
        <img src="{{request.user.avatar.url}}" alt="Profile Picture" />
      </div>
    </a>
    {% else %}
    <style>
      .login-button {
        background-color: #007bff;
        border: none;
        border-radius: 8px;
        padding: 10px 18px;
        font-size: 15px;
        color: white;
        cursor: pointer;
        transition: all 0.2s ease;
      }
    
      .login-button:hover {
        background-color:rgb(2, 49, 100);
        transform: scale(1.08);
        box-shadow: 0 4px 15px rgba(0, 123, 255, 0.4);
      }
    
      .login-button a {
        color: white;
        text-decoration: none;
      }
    
      .login-button a:hover {
        color: white;
      }
    </style>
    
    <button class="login-button">
      <a href="{% url 'login' %}">Login</a>
    </button>
    
    {% endif %}
  </div>
</nav>