<div class="column feeds">
  <h2>Join a Conversation</h2>
  {% for room in rooms %}
  <div class="feed-item">
    <div
      style="font-size: 1.7rem; font-weight: 700; padding-bottom: 10px"
      class="room-name"
    >
      <a href="{% url 'room' room.id %}">{{room.name}}</a>
    </div>
    <span style="background-color: gray; padding: 5px; border-radius: 5px;">{{room.topic}}</span>
    {% if request.user == room.host %}
    <div class="button-group">
      <button class="update-btn">
        <a href="{% url 'update-room' room.id %}">Update</a>
      </button>
      <button class="delete-btn">
        <a href="{% url 'delete-room' room.id %}">Delete</a>
      </button>
    </div>
    {% endif %}
    <div class="host-name" style="display: flex; justify-content: left; align-items: center;">
      <a style="margin: 0.4rem; text-decoration: underline; " href="{% url 'user-profile' room.host.id %}"
        >Created by 
      </a>
      <img style="width: 40px; height: 40px; border-radius: 50%;object-fit: cover; " src={{room.host.avatar.url}} />
    </div>
  </div>
  {% endfor %}
</div>
