<div class="column feeds">
  <h2>Join a Conversation</h2>
  {% for room in rooms %}
  <div class="feed-item">
    <h4 class="room-name">
      <a href="{% url 'room' room.id %}">{{room.name}}</a>
    </h4>
    <p>Topic: #{{room.topic}}</p>
    {% if request.user == room.host %}
    <div class="button-group">
      <button class="update-btn">
        <a href="{% url 'update-room' room.id %}">Update</a>
      </button>
      <button class="delete-btn">
        <a href="{% url 'delete-room' room.id %}">Delete</a>
      </button>
    </div>
    {% endif %}
     <div class="host-name">
      <a href="{% url 'user-profile' room.host.id %}">Created by @{{room.host}} </a>
     </div>
  </div>
  {% endfor %}
</div>
