{% extends 'main.html' %}

{% block content %}

<div class="dashboard">

       {% include 'base/topics_component.html' %}
   
    <div>
        <div>
            <h5>{{rooms_count}} rooms available</h5>
        </div>
        <br/>
        <div class="create-room">
            <div style=" padding: 10px; background-color: #262626; border-radius: 5px;">
                <a href="{% url 'create-room' %}">Create Room</a>
            </div>
        </div>
        <br/>
        {% include 'base/feed_component.html' %}
    </div>
    
      {% include 'base/activity_component.html' %}
 
</div>
{% endblock %}