{% extends 'main.html' %} {% block content %} {% if page == 'login' %}
<div>
  <div class="form-container">
    <h3>Login in</h3>
    <form class="form-post" method="POST" action="">
      {% csrf_token %}

      <label>username :</label>
      <input type="text" name="username" placeholder="Enter username" />

      <label>password :</label>
      <input type="text" name="password" placeholder="Enter password" />
      <div style="margin-bottom: 10px">
        <input type="submit" value="login" />
      </div>
      <div>
        <span>Havent signup yet ?</span>
        <a class="button" style="color: #3a8dff" href="{% url 'register' %}"
          >Sign up</a
        >
      </div>
    </form>
  </div>
</div>
{% else %}
<div class="form-container">
  <h3>Sign up</h3>
  <form class="form-post" method="POST" action="">
    {% csrf_token %} {% for field in form %}
    <div class="form-group">
      <label for="room-name">{{field.label}}</label>
      {{field}}
    </div>
    {% endfor %}
    <div style="margin-bottom: 10px">
      <input type="submit" value="Register" />
    </div>
    <div>
      <span>Already signed up ?</span>
      <a class="button" style="color: #3a8dff" href="{% url 'login' %}"
        >Login</a
      >
    </div>
  </form>
</div>

{% endif %} {% endblock %}
