{% extends 'main.html' %} 
{% block content %}
<div class="profile-header">
  <div class="profile-pic-container" style="width: 150px;
    height: 150px;"><img src={{user.avatar.url}} /></div>
  <div class="username-profile">{{user.username}}</div>
{% if request.user.id == user.id %}
<div>
  <p>{{user.bio}}</p>  
</div>
<div>
  <a href="{% url 'update-user' %}">Edit profile</a>
</div>
    {% if request.user.is_authenticated %}
    <a style=" margin: 20px; padding: 5px; background-color: rgb(185, 104, 104); border-radius: 5px;" href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
  </div>
{% endif %}
</div>

  <div class="dashboard">
    <div>{% include 'base/topics_component.html' %}</div>
    <div>{% include 'base/feed_component.html' %}</div>
    <div>{% include 'base/activity_component.html' %}</div>
  </div>
{% endblock %}
