{% extends 'main.html' %}

{% block content %}

        <h3>{{ room.name }}</h3>
        <h3>{{ room.description }}</h3>
        <div class="comment-wrapper">
                <h3>Conversation</h3>
                {% for message in messages %}
                <div>
                <small>@{{message.user}}</small>
                <div>{{message.body}}</div>
                <small>{{message.created|timesince}} ago</small>
                </div>
                {% endfor %}
        </div>

        {% if request.user.is_authenticated %}
        <div>
                <form method="POST" action="">
                        {% csrf_token %}
                        <input type="text" name="body" placeholder="Write your message here..." />
                </form>
         </div>
         {% endif %}

{% endblock %}